<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for breadCrumb in breadCrumbs|default([]) %}
            <a href="{{ path(breadCrumb.route) }}" class="breadcrumb-item active">{{ breadCrumb.name|default('') }}</a>
        {% endfor %}
    </ol>
</nav>