{% if method|default('') == 'create' %}
    {% set textOnButton = 'Dodaj' %}
{% else %}
    {% set textOnButton = 'Zapisz' %}
{% endif %}

<div class="container-fluid ps-0 mb-3">
    <a href="{{ path(constant('App\\Config\\Admin\\RouteSchema::USER_LIST')) }}" class="btn btn-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
    </a>
</div>

<div class="container">
    <form method="POST" class="ps-5 pe-5">
        {% include 'admin/elements/input/input/input_custom.twig' with {
            id: 'email',
            class: '',
            label: 'Email',
            type: 'email',
            readOnly: false,
            required: false,
            value: ''
        } %}

        {% include 'admin/elements/input/input/input_custom.twig' with {
            id: 'fullName',
            class: '',
            label: 'Imie i nazwisko',
            type: 'text',
            readOnly: false,
            required: false,
            value: ''
        } %}

        <div class="container text-center">

            <button type="submit" class="btn btn-primary col-sm-12 col-lg-2 col-md-2">{{ textOnButton|default('') }}</button>
        </div>
    </form>
</div>