@import url('font.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

ul{
  padding-left: 0px;
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.home_link{
  height: auto !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar.active .nav_list .home_link div{
  margin-top: 0px !important;
}

.sidebar .nav_list .home_link div{
  margin-top: 5px !important;
}

.home_link div{
  margin-right: 5px !important;
}

.home_link div i{
  height: 30px !important;
  min-width: 29px !important;
  line-height: 180% !important;
}

.breadcrumb_navbar{
  padding: 0px !important;
}

.breadcrumb_navbar .breadcrumb{
  margin-bottom: 0px !important;
}

.card.dark{
  background: #161616 !important;
  color: white;
  border: 1px solid dimgrey;
}

.card.dark .card{
  background: #161616 !important;
  color: white;
  border: 1px solid dimgrey;
}

.card.dark .breadcrumb_navbar .active{
  color: white;
}

main{
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
  overflow-y: auto;
}

.headerNavbarTitle{
  color: white;
  text-transform: uppercase;
  margin: 0px;
}

.card-header:first-child{
  border-radius: 0px !important;
}


.headerNavbarDescription{
  color: white;
  text-align: left;
}

.sidebar .navbar_header_box
{
  overflow-wrap: break-word;
}

.navbar_header_box
{
  margin-top: 20px;
  margin-bottom: 10px;
}



.link_logout{
  text-decoration: none;
  color: white;
}

.link_logout:hover{
  color: white;
}

/* Login Page */
  .login_form_job_name{
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 40px;
  }

  .login_form_box{
    height: 100%;
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
  }

  .login_form_page_name{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 25px;
  }
/* End Login Page */

@media(max-width: 760px){
  .login_form_page_name{
    top: 50%;
  }

  .login_form_box{
    top: 20%;
    left: 0;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  main{
    overflow-y: auto;
  }

  /* .alert{
    top: 240px !important;
  } */

  .box_inputs_change_password{
    display: block;
    flex-wrap: unset;
  }

  .box_inputs_change_password input{
    width: 100% !important;
    border-radius: 0px !important;
  }

  .box_inputs_change_password button{
    width: 100% !important;
  }
}

.alert{
  max-width: 100%;
}

/* .alert{
  max-width: 350px;
  justify-content: center;
  top: 0px;
  right: 0px;
} */

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5 ease;
}



.sidebar.active{
  width: 240px;
}

.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .headerNavbarDescription{
  display: block;
}

.sidebar .headerNavbarDescription{
  display: none;
}

.sidebar .links_name{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i{
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn_menu{
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

#btn_menu:hover{
  cursor: pointer;
}

.sidebar.active #btn_menu{
  left: 90%;
}

.sidebar ul{
  /*margin-top: 20px;*/
}

.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  margin-bottom: 2px;
}

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}

.sidebar ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar ul li a.active{
  background: #fff;
  color: #11101d;
  border-radius: 12px;
}

.sidebar .profile_content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile{
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #1d1b31;
  transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile{
  background: none;
}

.profile_content .profile .profile_details{
  display: flex;
  align-items: center; 
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar.active .profile .profile_details{
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job{
  margin-left: 10px;
}

.profile .profile_details .name{
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job{
  font-size: 12px;
}

.profile #logout_menu{
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: none;
  cursor: pointer;
}

.sidebar.active .profile #logout_menu{
  left: 88%;
}

.sidebar.active .profile #logout_menu{
  background: #1d1b31;
}

.sidebar.active ~ main{
  width: calc(100% - 240px);
  left: 240px;
}



