{% extends '/admin/layout/layout.twig' %}

{% block content %}
    <div class="container" style="position: absolute; top: 45%; left: 15%;">
        <h1 class="" style="font-size: 60px">Witamy w panelu admina !</h1>
        <h5 class="">Aplikacja do zarządzania ProScore.</h5>
    </div>
{% endblock %}